@import "MainCommonStyles";


.Project {
    h2 {
        @include sectionHeading;
    }

    .filterButton {
        button {
            border: none;
            outline: none;
            background: transparent;
            border: 1px solid #00CF5D;
            color: #cacaca;
            font-weight: 600;
            font-size: 16px;
            padding: 5px 20px;
            border-radius: 25px;
            transition: 0.3s ease-in-out;
            cursor: pointer;
            text-decoration: none;
            position: relative;
            overflow: hidden;
            margin:0 10px;

            &:hover {        
                transform: scale(1.1);
                color:black;
            }
            &::after{
                content: ""; 
                position: absolute; 
                height: 100%;
                width: 100%;
                background-color: #00CF5D;
                top: 40%;
                right: -85%;
                border-radius: 30px;
                z-index: -1;
                transition: 0.3s ease-in-out;
            }
            &:hover::after {        
                top: 0%;
                right: 0%;
            }

        }

        .activeBtn {
            background-color: $redOne ;
            color:black;
        }
    }

    .ProjectsCard {
        height: 300px;
        border-radius: 10px;
        overflow: hidden;
        cursor: pointer;
        position: relative;
        z-index: 3;

        &:hover .ProjectOverlay {
            opacity: 0.5;
        }

        &:hover .buttons {
            opacity: 1;
            bottom: 0;
            bottom: 0;
        }

        img {
            height: 100%;
            width: 100%;
            transition: 0.5s ease;

            &:hover {
                transform: scale(1.1);
            }
        }

        .ProjectOverlay {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: #2b2b2b;
            transition: 0.3s ease-in-out;
            height: 100%;
            width: 101%;
            display: flex;
            align-items: center;
            justify-content: center;
            opacity: 0;
            pointer-events: none;
            z-index: 3;
        }

        .buttons {
            position: absolute;
            z-index: 4;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            opacity: 0;
            bottom: -100%;
            transition: 0.5s ease;
            pointer-events: none;
            text-align: center;

            a {
                pointer-events: initial;
                width: 50%;
                background-color: $redOne;
                border: none;
                outline: none;
                padding: 5px 0;
                font-weight: 600;
                text-decoration: none;
            }

            .liveLink {
                background-color: #fff;
            }

            .githubLink {
                background-color: $redOne;
                color: #fff;
            }
        }
    }

    .viewMoreProject  {
        border: none;
        outline: none;
        background: transparent;
        border: 1px solid #00CF5D;
        font-weight: 600;
        font-size: 16px;
        padding: 5px 20px;
        border-radius: 25px;
        transition: 0.3s ease-in-out;
        cursor: pointer;
        text-decoration: none;
        position: relative;
        overflow: hidden;
        z-index: 2;
        display: inline-block;
        a{
            text-decoration: none;
            color: #cacaca;
        }

        &:hover a {        
            transform: scale(1.1);
            color:black;
        }
        .inner{
            position: absolute; 
            height: 100%;
            width: 100%;
            background-color: #00CF5D;
            top: 40%;
            right: -95%;
            border-radius: 30px;
            z-index: -1;
            transition: 0.5s ease-in-out;
            overflow: hidden;
        }
        &:hover .inner {        
            top: 0%;
            right: 0%;
        }

    }
}