/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Pacifico&family=Prosto+One&family=Roboto:wght@400;500;700;900&family=Sevillana&family=Yeon+Sung&display=swap');

/* fonts

font-family: 'Acme', sans-serif;
font-family: 'Pacifico', cursive;
font-family: 'Prosto One', cursive;
font-family: 'Sevillana', cursive;
font-family: 'Yeon Sung', cursive;
*/

html {
  scroll-behavior: smooth; /* Enable smooth scrolling behavior */
}

body {
  background-color: #111A28;
  color: #fcfcfc;
  font-family: 'Roboto', sans-serif;
}





.MainArea {
  width: 80%;
  margin: 0 auto;
  position: relative;
}

.container-fluid {
  width: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
}

.slick-dots li button:before {
  font-size: 20px;
  height: 10px !important;
  width: 20px;
}


@media screen and (max-width:768px) {
  .Home .socialIcons {
    justify-content: center;
  }

  .Home h1 {
    font-size: 30px !important;
  }

  .Home h3 {
    font-size: 20px !important;
  }

  .Home h4 {
    text-align: center !important;
  }

  .Project .filterButton button {
    padding: 5px 39px !important;
    margin: 10px 10px !important;
  }

  .Review {
    height: auto !important;
  }

  .Review .ReviewTop {
    flex-direction: column;
  }

  .Review .ReviewTop .clientDesc {
    padding-left: 0px !important;
    margin-top: 15px;
    width: 100% !important;
  }

  .Review .ratingsBox {
    bottom: 45px !important;
  }

  .Review .ReviewBottom p{
    padding-top: 20px;
    line-height: 25px !important;
  }
  .Review .ReviewBottom {
    padding-top: 0 !important;
    padding-bottom: 60px;
  }
}

@media screen and (min-width:1636px) {
  .MainArea,
  .NavbarInner{
    max-width:1440px;
  }
}